html {
    background-color: hsl(28deg 37% 92%);
    color: hsl(234deg 4% 51%);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: white;
    border-radius: 10px;
    display: grid;
}

.card__image {
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.card__info {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__type {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5em;
}

.card__name {
    font-family: 'Fraunces', serif;
    color: black;
    font-size: 33px;
    line-height: 1em;
}

.card__description {
    font-size: 14px;
    line-height: 1.7em;
}

.card__price {
    font-family: 'Fraunces', serif;
    display: flex;
    align-items: center;
    gap: 20px;
}

.price__new {
    color: hsl(157deg 36% 37%);
    font-size: 33px;
}

.price__old {
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.button {
    background-color: hsl(157deg 36% 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    color: white;
    height: 49px;
    font-size: 14px;
    transition: background-color 50ms;
}

.button:hover {
    background-color: hsl(158, 36%, 20%);
    cursor: pointer;
}

@media (min-width: 600px) {
    .card {
    width: 600px;
    height: 450px;
        grid-template-columns: 1fr 1fr;
    }
    .card__image {
        border-radius: 10px 0px 0px 10px;
    }
}

@media (max-width: 600px) {
    .card {
    width: 345px;
    height: 613px;
    grid-template-rows: 0.6fr 1fr;
    }
    .card__image {
        border-radius: 10px 10px 0px 0px;
        background-position: center;
        background-image: url("images/image-product-mobile.jpg");
    }
    .card__info {
        padding: 25px;
    }
}